[Unit]
Description=ML Ops Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=lxd1kor
WorkingDirectory=/home/lxd1kor/Downloads/ML_Ops_Pipeline
ExecStart=/usr/bin/python3 /home/lxd1kor/Downloads/ML_Ops_Pipeline/main.py

[Install]
WantedBy=multi-user.target
